@font-face {
  font-family: "iconfont"; /* Project id 3394030 */
  src: url('iconfont.woff2?t=1652776088128') format('woff2'),
       url('iconfont.woff?t=1652776088128') format('woff'),
       url('iconfont.ttf?t=1652776088128') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 31px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pdf:before {
  content: "\e67a";
}

.icon-pic:before {
  content: "\e69b";
}

.icon-rejected-order:before {
  content: "\e75e";
}

.icon-WIFI:before {
  content: "\e76c";
}

.icon-bug-report:before {
  content: "\e76d";
}

.icon-bianji:before {
  content: "\eb61";
}

.icon-gongnengdingyi:before {
  content: "\eb62";
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-guanbi:before {
  content: "\eb6a";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-shangjiantou:before {
  content: "\eb6e";
}

.icon-icon_loading:before {
  content: "\eb80";
}

.icon-icon_shezhi:before {
  content: "\eb8d";
}

.icon-yunyingguanli:before {
  content: "\ebd1";
}

.icon-duigou:before {
  content: "\ebe6";
}

.icon-xiayibu:before {
  content: "\ebef";
}

.icon-shangyibu:before {
  content: "\ebf0";
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-baocun:before {
  content: "\ec09";
}

.icon-fabu:before {
  content: "\ec0a";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-DOC:before {
  content: "\ec18";
}

.icon-gengduo:before {
  content: "\ec1c";
}

.icon-chaxun:before {
  content: "\ec4c";
}

.icon-yunshiyanshi:before {
  content: "\e605";
}

.icon-computer_fill:before {
  content: "\e6eb";
}

.icon-computer:before {
  content: "\e6ec";
}

.icon-group:before {
  content: "\e6ff";
}

.icon-group_fill:before {
  content: "\e700";
}

.icon-homepage_fill:before {
  content: "\e702";
}

.icon-homepage:before {
  content: "\e703";
}

.icon-label:before {
  content: "\e706";
}

.icon-label_fill:before {
  content: "\e707";
}

.icon-order_fill:before {
  content: "\e713";
}

.icon-order:before {
  content: "\e714";
}

.icon-playon_fill:before {
  content: "\e718";
}

.icon-playon:before {
  content: "\e719";
}

.icon-video:before {
  content: "\e73b";
}

.icon-video_fill:before {
  content: "\e73c";
}

