.intro {
    position: relative;
    color: #fff;
    line-height: 1.8;
    background-color: #245cb9;
    border-radius: 4px;
}

.intro::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 1px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, rgb(56, 189, 248), rgb(59, 130, 246));
    border-radius: 4px;
    filter: blur(3px);
    z-index: -1;
}

.intro h2 {
    display: inline-block;
    padding-left: 20px;
}

.intro p {
    display: inline-block;
    padding: 0 20px 20px;
}

.intro p span {
    padding-left: 20px;
}

.scroll {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 394px;
    margin-bottom: 32px;
    border-radius: 10px;
}

.scroll .item {
    transition: .7s;
    /* transition设置元素过渡效果 */
    overflow: hidden;
}
.scroll .item img {
    height: 394px;
}

.scroll .item:hover {
    /* flex-shrink指定了当子元素超出父元素的收缩规则，默认为1，为0时不收缩 */
    flex-shrink: 0;
    /* flex-grow 属性用于设置或检索弹性盒子的扩展比率，默认为0 */
    flex-grow: 0;
}

.scroll .item img {
    width: 700px;
}

