i {
    font-style: none;
}

.sidebar-box {
    position: relative;
    z-index: 2;
}

.sidebar {
    position: absolute;
    top: 0;
    left: -120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 525px;
    border-radius: 6px;
    background-color: #245cb9;
    transition: .3s;
    overflow: hidden;
}
.sidebar li {
    position: relative;
    margin: 9px;
    width: 85%;
    height: 67.5px;
    /* 之前是15%，现在改成固定高，可能兼容性更好（？） */
    transition: .3s;
}
.sidebar a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    color: #fff;
    transition: .3s;
}
/* span盒子装字体图标 */
.sidebar span {
    font-size: 50px;
    position: absolute;
    margin: 8px 0 0 16px;
    transition: .5s;
    color: #f5f5f5;
}

.sidebar li:nth-child(2) span {
    font-size: 58px;
    margin: 4px 0 0 12px;
}

.sidebar li:nth-child(5)::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -10px;
}
/* i盒子装文字 */
.sidebar i {
    position: relative;
    top: 18px;
    left: 80px;
    font: 500 24px '';
    opacity: 0;
    transition: .5s;
    color: #f5f5f5;
}

.sidebar:hover {
    width: 270px;
}

.sidebar:hover i {
    opacity: 1;
    /* opacity透明度 */
}

.sidebar a:hover {
    background-color: #d0e7e5;
}


.sidebar a:hover span,
.sidebar a:hover i {
    color: #268480;
}
article {
    position: relative;
    z-index: 0;
    /* 层叠 */
    /* bug：当z-index设置为负数时，z-index为负值的元素将被放置在body层之下，所以点击和hover事件都被body层覆盖了。导致无法实现：hover和下载  */
}
article iframe {
    border-style: none;
    border-radius: 10px;
}
article .download {
    position: absolute;
    z-index: 1;
    top: 900px;
    right: -120px;
    width: 100px;
    height: 100px;
    background-color: #245cb9;
    border-radius: 6px;
}

.download li {
    margin: 20px;
    width: 60px;
    height: 60px;
    text-align: center;
}
.download a {
    cursor: pointer;
    width: 60px;
    height: 60px;   
}
.download a span{
    display: inline-block;
    margin-top: 2px;
    width: 100%;
    height: 100%;
    font-size: 60px;
    line-height: 60px;
    transition: .5s;
}

.download a:hover {
    color: #ff8a79;
}